/* 결과 페이지 전용 */
body {
  background-color: var(--main-bg-color);
  margin: 0;
}

#container {
  width: 450px;
  min-height: 100vh;
  height: auto;

  margin: auto;
  padding: 10px 20px;
  background-color: var(--mobile-bg-color);

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#score,
#retry_button {
  border-radius: 10px;
}

#score {
  height: 40px;
  width: 66%;
  margin: auto;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  font-family: 'PfStardust30', sans-serif;
  background-color: var(--dark-brown);
  color: var(--light-brown);
}

#stars {
  display: flex;
}

/* 1. 기본 별 스타일 */
#stars [data-lucide='star'] {
  width: 24px;
  height: 24px;

  stroke: var(--dark-pink);
  fill: none;
  opacity: 0.5;
  transition: all 0.3s ease;
  margin: 0 2px;
}

/* 2. 채워진 별 스타일 */
#stars [data-lucide='star'].filled {
  fill: var(--dark-pink);
  stroke: var(--dark-pink);
  opacity: 1;
}

#description {
  margin: auto;
  text-align: center;
}

#dzk-image-container {
  width: 300px;
  height: 225px;
  overflow: hidden;
  margin: 0 auto;
}

#dzk-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#questions {
  font-family: 'PfStardust30', sans-serif;
  font-weight: 700;
  color: var(--primary-green);
}

.quiz-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.quiz-item {
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 10px;
}

/* 맞았을 때 */
.quiz-item.correct {
  background-color: var(--light-green);
  color: var(--dark-green);
}

/* 틀렸을 때 */
.quiz-item.incorrect {
  background-color: var(--dark-pink);
  color: var(--light-brown);
}

h3 {
  font-family: 'PfStardust30', sans-serif;
  font-weight: 800;
  color: var(--dark-green);
}

h4 {
  font-family: 'PfStardust30', sans-serif;
  font-weight: 700;
  color: var(--primary-green);
}

#retry_button {
  height: 50px;
  width: 100%;
  border-radius: 20px;
  background-color: var(--dark-brown);
  color: var(--light-brown);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  gap: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#retry_button:hover {
  background-color: var(--primary-brown);
}
#retry_button > div {
  font-size: 20px;
  font-family: 'PfStardust30', sans-serif;
  display: flex;
  align-items: center;
}

/* 모달 전체 배경 */
#modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 모달 박스 */
#modal_content {
  background-color: var(--light-brown);
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid var(--dark-brown);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: 'PfStardust30', sans-serif;
}

#modal_body {
  font-family: sans-serif;
}

.modal-anser-box {
  display: flex;
}

.exp-header {
  margin-top: 10px;
  font-size: 18px;
  font-family: 'PfStardust30', sans-serif;
  color: var(--dark-green);
}

.ans-label {
  width: 14px;
  height: 14px;
  font-size: 12px;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#explanation_text {
  font-family: sans-serif;
}

#close_modal {
  background: none;
  border: none;
  font-size: 24px;
  color: var(--dark-brown);
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: var(--dark-pink);
}

#modal_explanation_text {
  margin: 2px;
  font-size: 14px;
}

.hidden {
  display: none !important;
}
